<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error - Groupie-Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="error-container">
        <div class="error-content">
            <h1>ERROR</h1>
            <div class="error-message">
                <p>{{.ErrorMessage}}</p>
            </div>
            <div class="error-action">
                <a href="/">Go back to home</a>
            </div>
        </div>
    </div>
</body>
</html>